
        body{
            margin:0%;
            padding:0%;
            background-color: rgb(13, 181, 227);
        }
        header {
            background-color:rgb(8, 243, 243);
            color:rgb(5,5,116);
            height: 100px;
            width: 100%;
            padding: 2%;
            text-align: center;
            margin-bottom: 5%;
            
            
            
        }
        header H1{
            text-decoration: underline;
            text-decoration-style: double;
            text-decoration-color: rgb(5, 5, 116);
        }
        header p{
            padding-bottom: 5%;
            font-size: small;
            color:blue;
            text-decoration: none;
        }
        .OIB{
            text-align: center;
            color:rgb(5, 5, 116);
        }
        .btn{

            background-image: linear-gradient(to right, #77A1D3 0%, #79CBCA  51%, #77A1D3  100%);
            transition: 0.5s;
            margin: 10px;
            padding: 10px 25px;
            text-align: center;
            background-size: 200% auto;
            border-radius: 10px;
        }         
        
          .btn:hover {
            background-position: right center;
            cursor: pointer;
            text-decoration: none;
          }
          input[type="text"]{
            font-family: 'Times New Roman';
            background-image: linear-gradient(to right, rgb(5, 5, 54),rgb(11, 5, 71),rgb(18, 7, 132),rgb(16, 16, 177));
            color: azure;
          }
          input[name="rdbt"]{
            accent-color: rgb(7, 7, 109);
          }
          input[name="rdbt1"]{
            accent-color: rgb(7, 7, 109);
          }
          .OIB [type="radio"]:checked+label{
            background-color:#070769;
            color:white;
            font-family: Arial;
            padding: 2px 5px;
            font-size: 15px;
          }
          .lab1 {
        
        padding: 5px 2px;
        font-family: Elephant;
        font-size: 15px;
      }  
        .lab2{
            padding-left:0%;
            font-family: Elephant;
            font-size: 15px;
        }
        
