*{
    padding:0;
    margin:0;
    
    
}
body {
    font-family: 'elephant';
    overflow-x: hidden;
    

}

#nav{
    width:100%;
    height:50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
}

#nav > div{
    height:100%;
}

#menu_icon{
    width:70px;
    background-image: url(Hamburger.png);
    background-size: 40px;
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
    background-color: black;

}
#menu_item{
    width:500px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    background-color: black;
    
    

}
#logo{
    width:150px;
    background-image: url(logo.png);
    background-size: 125px;
    background-position: center;
    background-repeat: no-repeat;
    background-color: black;

}

#menu_item > ul{
    color: white;
    list-style: none;
    display: flex;
    gap:20px;
    background-color: black;
}
#menu_item > ul >li{
    cursor:pointer;
    transition: 1s;
    background-color: black;
}
#menu_item>ul>li:hover{
    letter-spacing: 2px;
}

#catchy_section{
    position: relative;
    width: 100%;
    height:400px;
}

#catchy_section::before{
    content:"";
    background-image: url(catchy_section.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0.5;

}
#catchy_section > div{
    height: 100%;
    
}

#para>h2{
    text-shadow: #e46969 2px 2px;
    opacity:0.9;
    position: inherit;
}
#para{
    text-shadow: #e46969 1px 1px;
    margin-top:4%;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 14px;
    align-items: center;
    opacity: 0.9;
    justify-content: center;
    text-align: center;
}
#subscribe{
    margin-top: 5%;
    width:100px;
    height:50px;
    justify-content: center;
    text-align: center;
    position: relative;
    background-image: linear-gradient(160deg, #a54e07, #b47e11, #fef1a2, #bc881b, #a54e07);
    color: black;
    border-radius: 10px;
    border: 1px solid rgba(165,93,7,.6);
    text-decoration: none;

}
#subscribe:hover{
    cursor: pointer;
    background-image: linear-gradient(360deg, #a54e07, #b47e11, #fef1a2, #bc881b, #a54e07);
    transition: 0.5s;
    box-shadow: 3px 3px;
    letter-spacing: 3px;
    font-weight: 700;
    text-align: center;  
}
#catchy_section > marquee{
    padding-top: 10px;
    width:100%;
    color: rgb(231, 255, 19);
    font-family: 'Times New Roman';
    font-size: 20px;
    font-weight: bold;


}

#full{
    margin-top:20px;
    background-color: black;
}
#book{
    margin-left: 0%;
    margin-top: 20px;
    width:100px;
    height:50px;
    justify-content: center;
    text-align: center;
    position: relative;
    background-image: linear-gradient(160deg, #a54e07, #b47e11, #fef1a2, #bc881b, #a54e07);
    color: black;
    border-radius: 10px;
    border: 1px solid rgba(165,93,7,.6);
    text-decoration: none;

}
#book:hover{
    cursor: pointer;
    background-image: linear-gradient(360deg, #a54e07, #b47e11, #fef1a2, #bc881b, #a54e07);
    transition: 0.5s;
    box-shadow: 3px 3px;
    letter-spacing: 3px;
    font-weight: 700;
    text-align: center;  
}

#sections1{
        margin-top: 20px;
        width:100%;
        height:300px;
        border: 1px solid black;
        display:flex;
        justify-content: space-between;
        align-items: center;
        
}
#sections1 > div{
        height:100%;
        border: 1px solid black;
}

#desc1{
    width:50%;
    display: flex;
    background-color: black;
    color: white;
    font-family: 'Times New Roman';
    justify-content: center;
    align-items: center;
    margin-left: 35px;
    text-align: center;
    font-size: larger;
    
}
#image1{
    width:50%;
    background-image: url(sec1.png);
    background-size: 300px 315px;
    background-position: center;
    background-repeat: no-repeat;
    height:220px;
    align-items: center;
    border: 1px solid ;
    display:flex;
}
#sections2{
    margin-top: 50px;
    width:100%;
    height:300px;
    border: 1px solid black;
    display:flex;
    justify-content: space-between;
    align-items: center;
    
}
#sections2 > div{
    height:100%;
    border: 1px solid black;
}

#desc2{
width:50%;
display: flex;
background-color: black;
color: white;
font-family: 'Times New Roman';
justify-content: center;
align-items: center;
margin-left: 35px;
text-align: center;
font-size: larger;
margin-right: 35px;

}
#image2{
    width:50%;
    background-image: url(sec2.png);
    background-size: 300px 315px;
    background-position: center;
    background-repeat: no-repeat;
    height:220px;
    align-items: center;
    border: 1px solid ;
    display:flex;
}
#sections3{
    margin-top: 50px;
    width:100%;
    height:300px;
    border: 1px solid black;
    display:flex;
    justify-content: space-between;
    align-items: center;
    
}
#sections3 > div{
    height:100%;
    border: 1px solid black;
}

#desc3{
width:50%;
display: flex;
background-color: black;
color: white;
font-family: 'Times New Roman';
justify-content: center;
align-items: center;
margin-left: 35px;
text-align: center;
font-size: larger;
margin-right: 35px;

}
#image3{
    width:50%;
    background-image: url(sec3.png);
    background-size: 300px 315px;
    background-position: center;
    background-repeat: no-repeat;
    height:220px;
    align-items: center;
    border: 1px solid ;
    display:flex;
}

#sections4{
    margin-top: 50px;
    width:100%;
    height:300px;
    border: 1px solid black;
    display:flex;
    justify-content: space-between;
    align-items: center;
    
}
#sections4 > div{
    height:100%;
    border: 1px solid black;
}

#desc4{
width:50%;
display: flex;
background-color: black;
color: white;
font-family: 'Times New Roman';
justify-content: center;
align-items: center;
margin-left: 35px;
text-align: center;
font-size: larger;
margin-right: 35px;

}
#image4{
    width:50%;
    background-image: url(sec4.png);
    background-size: 300px 315px;
    background-position: center;
    background-repeat: no-repeat;
    height:220px;
    align-items: center;
    border: 1px solid ;
    display:flex;
}
#sections5{
    margin-top: 50px;
    width:100%;
    height:300px;
    border: 1px solid black;
    display:flex;
    justify-content: space-between;
    align-items: center;
    
}
#sections5 > div{
    height:100%;
    border: 1px solid black;
}

#desc5{
width:50%;
display: flex;
background-color: black;
color: white;
font-family: 'Times New Roman';
justify-content: center;
align-items: center;
margin-left: 35px;
text-align: center;
font-size: larger;
margin-right: 35px;

}
#image5{
    width:50%;
    background-image: url(sec5.png);
    background-size: 300px 315px;
    background-position: center;
    background-repeat: no-repeat;
    height:220px;
    align-items: center;
    border: 1px solid ;
    display:flex;
}
#sections6{
    margin-top: 50px;
    width:100%;
    height:300px;
    border: 1px solid black;
    display:flex;
    justify-content: space-between;
    align-items: center;
    
}
#sections6 > div{
    height:100%;
    border: 1px solid black;
}

#desc6{
width:50%;
display: flex;
background-color: black;
color: white;
font-family: 'Times New Roman';
justify-content: center;
align-items: center;
margin-left: 35px;
text-align: center;
font-size: larger;
margin-right: 35px;

}
#image6{
    width:50%;
    background-image: url(sec6.png);
    background-size: 300px 315px;
    background-position: center;
    background-repeat: no-repeat;
    height:220px;
    align-items: center;
    border: 1px solid ;
    display:flex;
}

#ending{
    margin-top: 15px;
    background-color: black;
    color: white;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 20px;
    text-shadow: #e46969 1.5px 0.5px;
    font-family: 'Times New Roman';
}
#footer{
    width:100%;
    height:120px;
    padding-top:20px;
    padding-left:10px;
    margin-top:15px;
    background-color: rgb(159, 158, 158);
    color: black;
    font: serif;
}
#footer > ul{
    font-size: 12px;
    font-family: serif;
    list-style: none;
}
#footer>hr{
    margin-top:-10px;
    margin-left:-20px;
    width: 103%;
    height:5px;
    border: none;
    border-top:3px solid white;
    color: white;
}
#footer>p{
    padding-top: 5px;
    font-size: 10px;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}